
*.swp
*.o
proj/codelite/legacy_testforecho.mk
proj/codelite/legacy_testforecho.txt

build/linux_x64_debug
build/linux_x64_release
run

/proj/msvc14/.vs
/build
/proj/msvc14/legacy_testforecho.VC.db
/proj/msvc14/legacy_testforecho.vcxproj.user
/proj/codelite/compile_flags.txt

