
*.swp
*.o
proj/codelite/testforecho.mk
proj/codelite/testforecho.txt

build/linux_x64_debug
build/linux_x64_release
run

/proj/msvc15/.vs
/build
/proj/msvc15/testforecho.VC.db
/proj/msvc15/testforecho.vcxproj.user
